.card {
    width: 370px;
    height: 580px;
    padding:40px;
    border-radius: 12px;
    background-color: var(--black-card);
    display: flex;
    flex-direction: column;
    gap:24px;
    flex:1;
    align-items: center;
}
.profile-pic > div {
    width: 88px;
    height: 88px;
}

.profile-pic  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

ul > li {
    list-style-type: none;
}